<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ReporteVictimaServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.ReporteVictimaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteTestigoServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.ReporteTestigoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleReporteServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.DetalleReporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EpisodioServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.EpisodioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactoServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.ContactoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleReporteTestigoServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.DetalleReporteTestigoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgresorTestigoServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.AgresorTestigoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EpisodioTestigoServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.EpisodioTestigoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgresorServlet</servlet-name>
        <servlet-class>org.cfg.uapa.java.sisdevi.controller.AgresorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteVictimaServlet</servlet-name>
        <url-pattern>/ReporteVictimaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteTestigoServlet</servlet-name>
        <url-pattern>/ReporteTestigoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleReporteServlet</servlet-name>
        <url-pattern>/DetalleReporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EpisodioServlet</servlet-name>
        <url-pattern>/EpisodioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactoServlet</servlet-name>
        <url-pattern>/ContactoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleReporteTestigoServlet</servlet-name>
        <url-pattern>/DetalleReporteTestigoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgresorTestigoServlet</servlet-name>
        <url-pattern>/AgresorTestigoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EpisodioTestigoServlet</servlet-name>
        <url-pattern>/EpisodioTestigoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgresorServlet</servlet-name>
        <url-pattern>/AgresorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
